.container{ /*https://www.silocreativo.com/introduccion-primeros-pasos-css-grid-2/*/
  display: grid; 
	grid-template-rows: [row-header] 200px [row-main] auto [row-footer] 200px [row-last]; /* Definición de filas */
	grid-template-columns: [col-sid1] 1fr [col-main] 1fr [col-sid2] 1fr [col-last]; /* Definición de columnas */
  	gap: 5px; /* Espacio entre filas y columnas */
	height: 80vh; /* Altura de la ventana del navegador */
	width: 80vw; /* Ancho de la ventana del navegador */
	/* Centrar horizontalmente en la ventana */
	margin: 0 auto; /* Centrar verticalmente en la ventana */
}
.header {
	grid-area: 1 / 1 / 2 / 3;
  border: 5px solid #000000;
  background-color: black;
}

.sidebar1 {
	grid-area: 2 / 1 / 4 / 2;
  border: 5px solid #000000;
  background-color: gray;
}

.main {
	grid-area: 2 / 2 / 3 / 3;
  border: 5px solid #000000;
  background-color: rgb(63, 66, 141);
}

.sidebar2 {
	grid-area: 3 / 3 / -4 / 3;
  border: 5px solid #000000;
  background-color: indigo;
}

.footer {
	grid-area: 3 / 2 / 4 / 4;
  border: 5px solid #000000;
  background-color: brown;
}

header {
  background-color: lightgray;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

