body {
    font-family: Arial, sans-serif; /* Fuente predeterminada para el cuerpo */
    margin: 20px; /* Margen alrededor del cuerpo */
    background-color: #136737; /* Color de fondo claro */
}
em {
    font-family: "noto-sans", sans-serif; /* Fuente importada de Google Fonts */
    font-size: 200px; /* Tamaño de fuente grande */
    background-image: url(https://hackathon.elevenlabs.io/images/earth.jpg); /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el texto */
    background-clip: text; /* Aplica el fondo solo al texto */
    -webkit-background-clip: text; /* Compatibilidad con WebKit */
    color: transparent; /* Hace que el texto sea transparente para mostrar el fondo */
    animation: animate 10s linear infinite; /* Animación continua */
    background-position-x: 0px; /* Posición inicial del fondo en el eje X */
    background-position-y: 0px; /* Posición inicial del fondo en el eje Y */
}
@keyframes animate {
    0% {
        background-position-x: 0px; /* Posición inicial del fondo en el eje X */
    }
    50% {
        background-position-x: 500px; /* Posición media del fondo en el eje X */
    }
    100% {
        background-position-x: 0px; /* Posición final del fondo en el eje X */
    }
}