body {
    font-family: 'Verdana', sans-serif;
    background-color: #5f2d2d;
    background-image: url('imagen_sin_fondo.png');
    font-family: noto-sans, sans-serif;
    background-size: cover;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    to {
        background-position-x: -1380px;
    }
}
header {
    display : flex;
    align-items: center; /* Centra verticalmente los elementos dentro del encabezado */
    position: static; /* Fija el encabezado en la parte superior */
    top: 0; /* Fija el encabezado en la parte superior */
    justify-content: left; /* Fija el encabezado en la parte superior */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
    background-color: rgb(24, 189, 156);
    text-decoration-color: rgb(58, 37, 178);
    height: 30px;
}
li {
    background-color: rgb(15, 128, 73);
    margin: 5px 0;
}
a {
    text-decoration: none;
    color: rgb(0, 14, 4);
    font-weight: bold;
}

.cuadro_azul {
    border: 10px solid #181839;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 5px;
}
.cuadro_verde {
    border: 10px solid #133718;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 5px;
}
.cuadro_rojo {
    border: 10px solid #7B1A1A;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 190px;
    height: 200px;
    margin: 5px;
}
.cuadro_amarillo {
    border: 10px solid #E4D31F;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 190px;
    height: 200px;
    margin: 5px;
}
.caja_gris {
    border: 10px solid #4A4A4A;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    height: 85px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;
}
.flex-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 10opx;
    align-items: end;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10opx;
    align-items: start;
}
 