body {
    font-family: 'Verdana', sans-serif;
    background-color: #181515;
    background-image: url('imagen_sin_fondo.png');
    font-family: noto-sans, sans-serif;
    background-size: cover; 
    animation: animate 10s linear infinite;
}
@keyframes animate {
    to {
        background-position-x: -1380px;
    }
}
header {
    display : flex;
    position: static; /* Fija el encabezado en la parte superior */
    top: 0; /* Fija el encabezado en la parte superior */
    justify-content: left; /* Fija el encabezado en la parte superior */
    width: 100%; /* Asegura que el encabezado ocupe todo el ancho */
    text-decoration-color: rgb(58, 37, 178);
    height: 30px;
}
li {
    margin: 5px 0;
}
a {
    text-decoration: none;
    color: rgb(177, 200, 184);
    font-weight: bold;
}

.cuadro_azul {
    background-color: gray;
    background-image: url('Imagen2.png');
    background-size: cover; 
    opacity: 0.9;
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 5px;
}
.cuadro_azul:hover {
    background-color: #181839;
    opacity: 1;
}
.cuadro_verde {
    background-color: gray;
    background-image: url('imagen4.png');
    background-size: cover; 
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 190px;
    height: 200px;
    margin: 5px;
}
.cuadro_verde:hover {
    background-color: #133718;
    opacity: 1;
}
.cuadro_rojo {
    background-color:  gray;
    background-image: url('Imagen1.png');
    background-size: cover; 
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 190px;
    height: 200px;
    margin: 5px;
}
.cuadro_rojo:hover {
    background-color: #7B1A1A;
    opacity: 1;
}
.cuadro_amarillo {
    background-color: gray;
    background-image: url('Imagen3.png');
    background-size: cover; 
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 5px;
}
.cuadro_amarillo:hover {
    background-color: #E4D31F;
    opacity: 1;
}
.caja_gris {
background-color: rgb(168, 5, 5);
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 1000px;
    height: 85px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;
}
.flex-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 10opx;
    align-items: end;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10opx;
    align-items: start;
}
 